html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #110a1d;
  color: white;
  margin-top: 16px;
  font-family: "Lexend", sans-serif;
  position: relative;
  z-index: 1;
  background-image: url("../img/dot-light-left.png"),
    url("../img/dot-light-right.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right center;
}

::-webkit-scrollbar {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}
button {
  color: inherit;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  height: 100%;
  max-width: 1660px;
  padding: 0 10px;
  margin: 0 auto;
}

.button-nav {
  display: none;
}

.header {
  max-width: 1640px;
  margin: 0 auto;
  height: 96px;
  border: 4px solid #478bf9;
  background: #110a1d;
  border-radius: 64px;
  font-weight: 400;
  font-size: 16px;
  overflow: hidden;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 24px 48px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__button {
    text-transform: uppercase;
    border: 2px solid #9dadf2;
    padding: 14px;
    border-radius: 24px;
  }
  .button-burger {
    display: none;
  }
  &__button--active {
    background-color: #478bf9;
    border: none;
  }
}
.button {
  &-lang__svg {
    width: 16px;
    height: 16px;
  }
  &-lang-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
}

.menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.main {
  height: calc(100vh - (130px + 96px + 16px));
}

.landing {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: #478bf9;
    font-weight: 500;
    font-size: 96px;
    text-transform: uppercase;

    &::first-line {
      color: white;
    }
  }

  &__subtitle {
    color: #ffffff99;
    font-weight: 500;
    font-size: 32px;
    padding: 24px 0 48px 0;
  }
  &__button {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    padding: 20px 72px;
    background: #478bf9;
    border-radius: 48px;
    max-width: 400px;
  }
}

.blog {
  overflow: hidden;
  &__title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
  }

  &__wrapper {
    scroll-behavior: smooth;
    scroll-margin: 8px;
    margin-top: 24px !important;
    margin: auto;
    width: 530px;
    height: 595px;
    padding: 24px 0 0 24px;
    border-radius: 100px;
    border: 3px solid #478bf9;
    background-color: rgba(255, 255, 255, 0.12);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: flex;
      width: 40px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(255, 255, 255, 0.12);
      margin-block: 5em;
      background-clip: content-box;
      border: 16px solid transparent;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(71, 139, 249, 1);
      background-clip: content-box;
      border: 16px solid transparent;
      border-radius: 20px;
    }
  }

  &__content {
    margin-bottom: 16px;
    padding: 16px 64px;
    background-color: rgba(30, 18, 49, 1);
    border-radius: 196px;

    &-title {
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      padding-bottom: 14px;
    }

    &-date {
      color: rgba(255, 255, 255, 0.6);
      font-weight: 450;
      font-size: 14px;
      line-height: 16px;
    }
  }
}
.button-burger {
  display: none;
}
.footer {
  position: relative;
  z-index: -1;
  background-color: rgba(30, 18, 49, 1);
  height: 130px;
  border: 4px solid rgba(71, 139, 249, 1);
  border-bottom: none;
  border-radius: 64px 64px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0 16px 0;
  }

  &__menu {
    display: flex;
    align-items: flex-end;

    &-list {
      display: flex;
      flex-direction: row;
      gap: 40px;
    }

    &-link {
      &--active {
        color: rgba(71, 139, 249, 1);
        text-decoration: underline;
      }
    }
  }
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 14px;

  &__title {
    text-align: end;
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }
}

.svg {
  transition: fill 0.3s ease;

  &:hover &__color {
    fill: url(#gradient);
  }
}

.landing__center {
  height: 100%;
  overflow-y: hidden;
  width: 100%;
  margin: 0 auto;
}
.lines {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 17px;
  -webkit-mask: linear-gradient(white, transparent 28%);

  #dollar-vertical {
    display: flex;
  }
  #dollar-horizontal {
    display: none;
  }
  #world-vertical {
    display: flex;
  }
  #world-horizontal {
    display: none;
  }
  #crown-long-vertical {
    display: flex;
  }
  #crown-long-horizontal {
    display: none;
  }

  &__second,
  &__first,
  &__third {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 23px;
  }
  &__first {
    opacity: 0.4;
    animation: lineUp 15s linear infinite;
  }

  &__second {
    opacity: 0.65;
    animation: lineDown 15s linear infinite;
  }

  &__third {
    opacity: 0.5;
    animation: lineUp 15s linear infinite;
  }
}

@keyframes lineDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(calc(0% + 11.5px));
  }
}

@keyframes lineUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(calc(-50% - 11.5px));
  }
}

@media (max-width: 1840px) {
  .header__wrapper {
    padding: 12px 10px;
  }
  .header {
    height: auto;
  }

  .footer {
    height: auto;

    &__wrapper {
      padding: 12px 10px;
    }
  }

  .lines {
    -webkit-mask: linear-gradient(white, transparent 30%);
  }
  .main {
    height: calc(100vh - (80px + 98px + 16px));
  }
}
@media (max-width: 1440px) {
  .main {
    height: calc(100vh - (16px + 98px + 80px));
  }
  .lines__third {
    display: none;
  }
  .main {
    height: calc(100vh + 100px);
  }
  .lines {
    -webkit-mask: linear-gradient(white, transparent 35%);
  }
}

@media (max-width: 1320px) {
  .lines__first {
    display: none;
  }
}
@media (max-width: 1200px) {
  .landing__title {
    font-size: 75px;
  }
  .blog__wrapper {
    width: 450px;
    border-radius: 50px;
    padding: 10px;
  }

  .blog__content {
    border-radius: 50px;
  }
}

@media (max-width: 1020px) {
  .header__wrapper {
    padding: 24px 20px;
  }
  .landing__title {
    font-size: 75px;
  }
  .blog__wrapper {
    width: 450px;
    border-radius: 50px;
    padding: 10px;
  }

  .blog__content {
    border-radius: 50px;
  }
}

@media (max-width: 1000px) {
  #dollar-vertical {
    display: none !important;
  }
  #dollar-horizontal {
    display: flex !important;
  }
  #world-vertical {
    display: none !important;
  }
  #world-horizontal {
    display: flex !important;
  }
  #crown-long-vertical {
    display: none !important;
  }
  #crown-long-horizontal {
    display: flex !important;
  }

  .footer__menu-link--active {
    color: white;
    text-decoration: none;
  }
  body {
    margin-top: 10px;
  }

  .header {
    margin: 0 10px;
    overflow: visible;
    border-width: 2px;
    height: 56px;

    &__wrapper {
      padding: 10px 14px;
    }

    &__center {
      //  display: none;
    }

    &__button {
      border-radius: 100%;
      padding: 6px;
    }

    &__burger {
      display: block;
    }
  }

  .landing {
    display: flex;
    flex-direction: column;
  }
  .landing__left {
    width: 100%;
    text-align: center;
  }
  .landing__title {
    font-weight: 500;
    font-size: 46px;
    line-height: 50px;
  }
  .landing__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
  }

  .social-media__link > svg {
    width: 27px;
    height: 27px;
  }

  .landing__button {
    padding: 15px 20px;
    border-radius: 48px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22.5px;
    width: 100%;
  }

  .button-log-in,
  .button-sign-up {
    display: none;
  }

  .button-lang__text {
    display: none;
  }

  .button-lang__inner {
    gap: 4px;
  }

  .button-lang__svg {
    width: 18px;
    height: 18px;
  }

  .main {
    height: auto;
    margin: 70px 0;
  }

  .landing__center {
    overflow-x: hidden;
    margin: 30px 0;
  }

  .lines {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );

    &__first,
    &__second,
    &__third {
      display: flex;
      flex-direction: row;
      gap: 17px;
    }
    &__first > img:not(#dollar-horizontal),
    &__second > img:not(#world-horizontal),
    &__third > img:not(#crown-long-horizontal) {
      width: 50px;
      height: 50px;
    }

    &__first {
      animation: lineLeft 10s linear infinite;
    }

    &__second {
      animation: lineRight 10s linear infinite;
    }

    &__third {
      animation: lineLeft 10s linear infinite;
    }
  }

  @keyframes lineRight {
    0% {
      transform: translateX(calc(-25% - 4.25px));
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes lineLeft {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(-25% - 4.25px));
    }
  }

  .blog {
    margin: auto 0;
    &____title {
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
    }

    &__wrapper {
      height: 420px;

      overflow-y: scroll;
      margin-top: 18px;
      border-radius: 50px;
      border-width: 2px;
      padding: 10px 0 10px 10px;

      &::-webkit-scrollbar {
        width: 24px;
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.12);
        margin-block: 5em;
        background-clip: content-box;
        border: 10px solid transparent;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(71, 139, 249, 1);
        background-clip: content-box;
        border: 10px solid transparent;
        border-radius: 4px;
      }
    }

    &__content {
      margin-bottom: 10px;
      padding: 15px 35px;
      border-radius: 40px;

      &-title {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 6px;
      }
    }
  }

  .button-burger {
    display: block;
  }

  .menu__list {
    height: 100vh;
    background: #110a1d;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 10;
    position: fixed;
    align-items: flex-start;
    top: 66px;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.2s ease-in-out;
    width: 100vw;
    padding: 30px 10px;

    .menu__item {
      border-radius: 28px;
      padding: 13px 20px;
      width: 100%;
      border: 2px solid rgba(71, 139, 249, 1);
    }
    .button-nav {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 8px;
    }
    .button-log-in {
      margin-top: 30px;
      display: block !important;
      border-radius: 24px;
      padding: 13px 20px;
      width: 100%;
      background-color: #1e1231;
      border-color: #9dadf2;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
    }
    .button-sign-up {
      display: block !important;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
      border-radius: 24px;
      padding: 13px 20px;
      width: 100%;
      border-radius: 24px;
    }
  }
  .menu__list-open {
    opacity: 1;
    transform: translateX(0%);
  }
}

@media (max-width: 700px) {
  .footer {
    height: auto;
    width: 100%;
    font-size: 14px;
    border-width: 2px;
    border-bottom: none;
    border-radius: 50px 50px 0 0;
    line-height: 20px;

    &__wrapper {
      display: flex;
      flex-direction: column;
      padding: 20px;
      gap: 20px;
    }

    &__menu {
      display: flex;
      align-items: flex-start;

      &-list {
        display: flex;
        flex-direction: column;
        gap: 2px;
      }
    }
  }
  .social-media {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__title {
      text-align: start;
    }

    &__list {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
    }
  }
}

@media (max-width: 530px) {
  .blog__wrapper {
    width: 90%;
  }
}
